# One Hot Encoding And Dummy Variables

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_excel(r"C:\Users\Shaik.AbdulRazak\OneDrive\Documents\Raw data\Loan_Data_100_Records.xlsx")
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001000,Male,Yes,2,Graduate,No,2190,1664,378,120,1,Urban,Y
1,LP001001,Female,No,3+,Graduate,No,12492,1081,316,360,1,Urban,N
2,LP001002,Male,No,2,Graduate,Yes,19364,512,454,60,1,Rural,Y
3,LP001003,Male,No,0,Not Graduate,Yes,4975,7805,460,180,1,Rural,Y
4,LP001004,Male,No,3+,Not Graduate,No,8102,5237,385,120,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,LP001095,Female,No,3+,Not Graduate,Yes,7949,6806,231,60,0,Rural,Y
96,LP001096,Female,No,1,Not Graduate,Yes,21222,7357,391,360,1,Rural,N
97,LP001097,Female,No,2,Not Graduate,No,3150,3440,169,360,0,Semiurban,Y
98,LP001098,Female,Yes,0,Not Graduate,Yes,3931,3766,351,60,1,Semiurban,N
99,LP001099,Male,Yes,3+,Graduate,No,11204,5644,514,60,1,Urban,N

In [3]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [4]:
data["Gender"].fillna(data["Gender"].mode()[0],inplace=True)
data["Married"].fillna(data["Married"].mode()[0],inplace=True)

C:\Users\Shaik.AbdulRazak\AppData\Local\Temp\ipykernel_19216\3624140825.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Gender"].fillna(data["Gender"].mode()[0],inplace=True)
C:\Users\Shaik.AbdulRazak\AppData\Local\Temp\ipykernel_19216\3624140825.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Married"].fillna(data["Married"].mode()[0],inplace=True)

In [5]:
data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001000,Male,Yes,2,Graduate,No,2190,1664,378,120,1,Urban,Y
1,LP001001,Female,No,3+,Graduate,No,12492,1081,316,360,1,Urban,N
2,LP001002,Male,No,2,Graduate,Yes,19364,512,454,60,1,Rural,Y
3,LP001003,Male,No,0,Not Graduate,Yes,4975,7805,460,180,1,Rural,Y
4,LP001004,Male,No,3+,Not Graduate,No,8102,5237,385,120,1,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,LP001095,Female,No,3+,Not Graduate,Yes,7949,6806,231,60,0,Rural,Y
96,LP001096,Female,No,1,Not Graduate,Yes,21222,7357,391,360,1,Rural,N
97,LP001097,Female,No,2,Not Graduate,No,3150,3440,169,360,0,Semiurban,Y
98,LP001098,Female,Yes,0,Not Graduate,Yes,3931,3766,351,60,1,Semiurban,N
99,LP001099,Male,Yes,3+,Graduate,No,11204,5644,514,60,1,Urban,N

In [6]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
newdata=data[["Gender","Married"]]

In [10]:
newdata

    Gender Married
0     Male     Yes
1   Female      No
2     Male      No
3     Male      No
4     Male      No
..     ...     ...
95  Female      No
96  Female      No
97  Female      No
98  Female     Yes
99    Male     Yes

[100 rows x 2 columns]

In [11]:
pd.get_dummies(newdata)

    Gender_Female  Gender_Male  Married_No  Married_Yes
0           False         True       False         True
1            True        False        True        False
2           False         True        True        False
3           False         True        True        False
4           False         True        True        False
..            ...          ...         ...          ...
95           True        False        True        False
96           True        False        True        False
97           True        False        True        False
98           True        False       False         True
99          False         True       False         True

[100 rows x 4 columns]

In [12]:
pd.get_dummies(newdata).columns

Index(['Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes'], dtype='object')

In [13]:
pd.get_dummies(newdata).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  100 non-null    bool
 1   Gender_Male    100 non-null    bool
 2   Married_No     100 non-null    bool
 3   Married_Yes    100 non-null    bool
dtypes: bool(4)
memory usage: 532.0 bytes

In [14]:
# from sklearn preprocessin we import the OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe=OneHotEncoder()
# ohe.fit_transform(newdata) # (or to covert into array also)
ohe.fit_transform(newdata).toarray()

array([[0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.]])

In [16]:
# and this total data we covert into dataframe only
ar=ohe.fit_transform(newdata).toarray()
ar

array([[0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [0., 1., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.],
       [0., 1., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 1., 0., 1.]])

In [17]:
# and this total data we covert into dataframe only
pd.DataFrame(ar, columns=["Gender_Female", "Gender_Male", "Married_No", "Married_Yes" ])

    Gender_Female  Gender_Male  Married_No  Married_Yes
0             0.0          1.0         0.0          1.0
1             1.0          0.0         1.0          0.0
2             0.0          1.0         1.0          0.0
3             0.0          1.0         1.0          0.0
4             0.0          1.0         1.0          0.0
..            ...          ...         ...          ...
95            1.0          0.0         1.0          0.0
96            1.0          0.0         1.0          0.0
97            1.0          0.0         1.0          0.0
98            1.0          0.0         0.0          1.0
99            0.0          1.0         0.0          1.0

[100 rows x 4 columns]

In [18]:
# if the data is more extends then we drop the data by using (drop="first")
ohe=OneHotEncoder(drop='first')
# ohe.fit_transform(newdata) # (or to covert into array also)
ohe.fit_transform(newdata).toarray()

array([[1., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [1., 1.]])

# LABLE ENCODING

In [19]:
# Nominal Data
# Ordinal Data
import pandas as pd

In [20]:
df=pd.DataFrame({"name":["Razak","Madam ji","potti","Riyaz","psycho"]})
df

       name
0     Razak
1  Madam ji
2     potti
3     Riyaz
4    psycho

In [21]:
# from sklearn preprocessin we import the LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [22]:
le=LabelEncoder()
df["en_name"]=le.fit_transform(df["name"])
df

       name  en_name
0     Razak        1
1  Madam ji        0
2     potti        3
3     Riyaz        2
4    psycho        4

In [23]:
data1=pd.read_csv(r"C:\Users\Shaik.AbdulRazak\OneDrive\Documents\Raw data\raw_employee_data_100x12_with_nulls.csv")
data1

,EmployeeID,Name,Department,Salary,JoinDate,Age,Experience,PerformanceScore,Location,Email,Phone,RemoteWorker
0,2001,Julia,IT,79711.0,2017-01-01,38.0,15.0,1.0,Bangalore,user0@example.com,1.234500e+09,False
1,2002,Steve,IT,51954.0,2017-01-02,31.0,30.0,2.0,London,user1@example.com,1.234500e+09,True
2,2003,Grace,IT,47804.0,2017-01-03,NaN,29.0,3.0,Berlin,user2@example.com,1.234500e+09,False
3,2004,Charlie,Operations,NaN,2017-01-04,37.0,22.0,3.0,London,user3@example.com,1.234500e+09,True
4,2005,Mike,Marketing,45984.0,NaN,45.0,4.0,2.0,Berlin,user4@example.com,1.234500e+09,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2096,Steve,Operations,57368.0,2017-04-06,NaN,11.0,5.0,Berlin,user95@example.com,1.234500e+09,True
96,2097,Quincy,IT,55328.0,2017-04-07,33.0,NaN,2.0,London,user96@example.com,1.234500e+09,False
97,2098,Nina,IT,96942.0,2017-04-08,NaN,17.0,3.0,NaN,user97@example.com,1.234500e+09,False
98,2099,Ian,HR,66215.0,2017-04-09,58.0,8.0,3.0,New York,user98@example.com,1.234500e+09,False
99,2100,Nina,Marketing,73595.0,2017-04-10,27.0,21.0,4.0,NaN,user99@example.com,1.234500e+09,False

In [24]:
data1.head()

,EmployeeID,Name,Department,Salary,JoinDate,Age,Experience,PerformanceScore,Location,Email,Phone,RemoteWorker
0,2001,Julia,IT,79711.0,2017-01-01,38.0,15.0,1.0,Bangalore,user0@example.com,1.234500e+09,False
1,2002,Steve,IT,51954.0,2017-01-02,31.0,30.0,2.0,London,user1@example.com,1.234500e+09,True
2,2003,Grace,IT,47804.0,2017-01-03,NaN,29.0,3.0,Berlin,user2@example.com,1.234500e+09,False
3,2004,Charlie,Operations,NaN,2017-01-04,37.0,22.0,3.0,London,user3@example.com,1.234500e+09,True
4,2005,Mike,Marketing,45984.0,NaN,45.0,4.0,2.0,Berlin,user4@example.com,1.234500e+09,False

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
le=LabelEncoder()
df["en_name"]=le.fit_transform(df["name"])
df

       name  en_name
0     Razak        1
1  Madam ji        0
2     potti        3
3     Riyaz        2
4    psycho        4

In [27]:
data2=pd.read_excel(r"c:\Users\Shaik.AbdulRazak\OneDrive\Documents\Raw data\Loan_Data_100_Records.xlsx")
data2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001000,Male,Yes,2,Graduate,No,2190,1664,378,120,1,Urban,Y
1,LP001001,Female,No,3+,Graduate,No,12492,1081,316,360,1,Urban,N
2,LP001002,Male,No,2,Graduate,Yes,19364,512,454,60,1,Rural,Y
3,LP001003,Male,No,0,Not Graduate,Yes,4975,7805,460,180,1,Rural,Y
4,LP001004,Male,No,3+,Not Graduate,No,8102,5237,385,120,1,Urban,Y

In [28]:
le=LabelEncoder()
le.fit(data2["Property_Area"])

LabelEncoder()

In [29]:
le.transform(data2["Property_Area"])

array([2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2, 0, 0, 0, 2, 0, 0, 2, 1, 2, 0, 2,
       1, 2, 0, 1, 0, 1, 1, 2, 2, 0, 2, 2, 1, 2, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 2, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 0, 0, 0, 1, 1, 1, 2, 1,
       2, 0, 1, 2, 2, 1, 0, 0, 0, 2, 2, 2, 2, 0, 1, 2, 2, 0, 1, 1, 0, 0,
       1, 2, 1, 0, 2, 2, 0, 0, 0, 1, 1, 2])

In [30]:
data2["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [32]:
data2["Property_Area"]=le.transform(data2["Property_Area"])

In [33]:
data2.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001000,Male,Yes,2,Graduate,No,2190,1664,378,120,1,2,Y
1,LP001001,Female,No,3+,Graduate,No,12492,1081,316,360,1,2,N
2,LP001002,Male,No,2,Graduate,Yes,19364,512,454,60,1,0,Y
3,LP001003,Male,No,0,Not Graduate,Yes,4975,7805,460,180,1,0,Y
4,LP001004,Male,No,3+,Not Graduate,No,8102,5237,385,120,1,2,Y
5,LP001005,Female,No,0,Graduate,No,19568,559,372,120,1,0,Y
6,LP001006,Male,No,3+,Not Graduate,No,21711,3672,468,180,1,2,N
7,LP001007,Male,No,3+,Not Graduate,No,21778,7404,161,180,1,0,Y
8,LP001008,Male,No,1,Not Graduate,No,3816,3343,183,120,0,2,N
9,LP001009,Female,Yes,0,Not Graduate,No,24238,4070,467,120,1,2,Y

# ORDINAL ENCODING

In [34]:
import pandas as pd

In [35]:
df=pd.DataFrame({"size":["s","m","l","xl","s","m","l","s","s","l","xl","m"]})
df

   size
0     s
1     m
2     l
3    xl
4     s
5     m
6     l
7     s
8     s
9     l
10   xl
11    m

In [36]:
ord_data=[["s","m","l","xl"]]
# from sklearn.prepoceesing import OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=ord_data)
oe.fit(df[["size"]])

OrdinalEncoder(categories=[['s', 'm', 'l', 'xl']])

In [37]:
oe.transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [3.],
       [1.]])

In [38]:
df["size_en"]=oe.transform(df[["size"]])
df

   size  size_en
0     s      0.0
1     m      1.0
2     l      2.0
3    xl      3.0
4     s      0.0
5     m      1.0
6     l      2.0
7     s      0.0
8     s      0.0
9     l      2.0
10   xl      3.0
11    m      1.0

In [39]:
# we also define the values also waht u want
ord_data1 = {"s": 0, "m": 1, "l": 2, "xl": 3}
df["size_en"] = df["size"].map(ord_data1)
print(df)

   size  size_en
0     s        0
1     m        1
2     l        2
3    xl        3
4     s        0
5     m        1
6     l        2
7     s        0
8     s        0
9     l        2
10   xl        3
11    m        1

In [40]:
df = pd.DataFrame({"size": ["s", "m", "l", "xl", "s", "m"]})
ord_data1 = {"s": 57, "m": 64, "l": 72, "xl": 98} # u give the values waht you want
df["size_encoded"] = df["size"].map(ord_data1)
print(df)

  size  size_encoded
0    s            57
1    m            64
2    l            72
3   xl            98
4    s            57
5    m            64

In [41]:
data3=pd.read_csv(r"C:\Users\Shaik.AbdulRazak\OneDrive\Documents\Raw data\loan_data_618x13.csv")
data3

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001391,Male,Yes,2,Not Graduate,Yes,19593,3792,589,180,1,Rural,Y
1,LP001401,Male,Yes,1,Not Graduate,No,3286,10594,520,120,0,Semiurban,N
2,LP001320,Male,Yes,3+,Graduate,No,7842,9248,540,240,0,Urban,Y
3,LP001031,Male,No,0,Not Graduate,No,17461,10483,506,360,1,Rural,N
4,LP001600,Male,No,2,Not Graduate,No,8969,860,227,240,1,Semiurban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,LP001757,Female,No,0,Graduate,No,17683,10778,493,240,1,Rural,N
614,LP001342,Female,No,0,Not Graduate,Yes,1917,4780,95,120,0,Rural,N
615,LP001645,Female,Yes,2,Graduate,No,18808,2861,485,120,1,Semiurban,Y
616,LP001763,Female,Yes,1,Graduate,No,16917,5294,488,180,0,Rural,N
617,LP001347,Male,No,3+,Not Graduate,Yes,6585,8956,230,360,1,Semiurban,N

In [42]:
data3["Property_Area"].unique()

array(['Rural', 'Semiurban', 'Urban'], dtype=object)

In [43]:
data3["Property_Area"].fillna(data3["Property_Area"].mode()[0],inplace=True)
en_data_ord=[['Urban', 'Semiurban', 'Rural']]

C:\Users\Shaik.AbdulRazak\AppData\Local\Temp\ipykernel_19216\3219832261.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3["Property_Area"].fillna(data3["Property_Area"].mode()[0],inplace=True)

In [44]:
from sklearn.preprocessing import OrdinalEncoder

en_data_ord = [['Rural', 'Semiurban', 'Urban']] 
oen = OrdinalEncoder(categories=en_data_ord)
data3["Property_Area"] = oen.fit_transform(data3[["Property_Area"]])
data3.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001391,Male,Yes,2,Not Graduate,Yes,19593,3792,589,180,1,0.0,Y
1,LP001401,Male,Yes,1,Not Graduate,No,3286,10594,520,120,0,1.0,N
2,LP001320,Male,Yes,3+,Graduate,No,7842,9248,540,240,0,2.0,Y
3,LP001031,Male,No,0,Not Graduate,No,17461,10483,506,360,1,0.0,N
4,LP001600,Male,No,2,Not Graduate,No,8969,860,227,240,1,1.0,N